<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include partials/head %>
</head>



<body>
  <div class="wrapper">
    <h1>
      <%= title %>
    </h1>
    <div class="search-container">
      <form id="searchForm">
        <label for="searchInput">Search:</label>
        <input type="text" id="searchInput" name="searchInput" placeholder="Enter name or description">
        <button type="button" class="btn-delete" onclick="searchGuestList()">Search</button>
      </form>
    </div>
    <div class="table-container">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Time</th>
            <th>Date</th>
            <th>Control</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0; i < bookinglist.length; i++) { %>
            <tr>
              <td>
                <%= bookinglist[i].name %>
              </td>
              <td>
                <%= bookinglist[i].description %>
              </td>
              <td>
                <%= bookinglist[i].hourToAttend %>
              </td>
              <td>
                <%= bookinglist[i].date %>
              </td>
              <td>
                <form action="/bookings/update/<%= bookinglist[i]._id %>" method="put">
                  <button class="btn-delete" type="submit">Update</button>
                </form>
                <form action="/bookings/delete/<%= bookinglist[i]._id %>" method="get">
                  <button class="btn-delete" type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
    <button class="form-button"><a href="/bookings/report">Report</a></button>
  </div>

  <% include partials/foot %>
</body>

</html>

<script>
  function searchGuestList() {
    var input, filter, table, tbody, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.querySelector(".table");
    tbody = table.querySelector("tbody");
    tr = tbody.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      tdName = tr[i].getElementsByTagName("td")[0];
      tdDescription = tr[i].getElementsByTagName("td")[1];
      if (tdName || tdDescription) {
        txtValueName = tdName.textContent || tdName.innerText;
        txtValueDescription = tdDescription.textContent || tdDescription.innerText;
        if (txtValueName.toUpperCase().indexOf(filter) > -1 || txtValueDescription.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>