<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include partials/head %>
</head>

<body>
  <div class="wrapper">
    <h1>
      <%= title %>
    </h1>
    <div class="table-container">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>hourToAttend</th>
          </tr>
        </thead>

        <tbody>
          <% for (var i=0; i < pizzalist.length; i++) { %>
            <tr>
              <td>
                <%= pizzalist[i].name %>
              </td>
              <td>
                <%= pizzalist[i].description %>
              </td>
              <td>
                <%= pizzalist[i].hourToAttend %>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <% include partials/foot %>
</body>

</html>